_site
.sass-cache
.jekyll-metadata
*.lock
*~
.vs/*
*.swp
*.bak
*.un~
*-checkpoint.py
/*.egg-info
/.spyderproject
.spyderproject
.idea/*
/**/__pycache__
/**/.ipynb_checkpoints
/.doit.db.bak
/.doit.db.dat
/.doit.db.dir
secrets.py
*.kate-swp
.vscode/settings.json
