<div class="rcf_footer_buttons">


<!--FACEBOOK-->
<div data-network="facebook" class="footer-button st-custom-button">
  <svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#facebook"></use></svg></div>  


<!--TWITTER-->
<div data-network="twitter" class="footer-button st-custom-button">
  <svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg></div>  


<!--LINKEDIN-->
<div data-network="linkedin" class="footer-button st-custom-button">
  <svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#linkedin"></use></svg></div> 


<!--EMAIL-->
<div data-network="email" class="footer-button st-custom-button">
  <svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#email"></use></svg></div>



  <input class="footer-button fb-print" id="savepage1" type="button" value="html2pdf" />
  <input class="footer-button fb-print" id="savepage2" type="button" value="jsPDF" style="text-decoration: line-through;" />
  <input class="footer-button fb-print" id="savepage3" type="button" value="Manipulate" style="text-decoration: line-through;" />
  <input class="footer-button fb-print" id="savepage4" type="button" value="Print" onclick="window.print()" />

</div>
