<div class="rcf_print">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js" integrity="sha384-CchuzHs077vGtfhGYl9Qtc7Vx64rXBXdIAZIPbItbNyWIRTdG0oYAqki3Ry13Yzu" crossorigin="anonymous"></script>
  <script src="{{ site.url }}/js/html2pdf.bundle.min.js"></script>

  <br \>
  <h6>Experimental Client-Side Printing Implementations</h6>
  <input class="rcf_print_button" id="savepage1" type="button" value="html2pdf" />
  <input class="rcf_print_button" id="savepage2" type="button" value="jsPDF" style="text-decoration: line-through;" />
  <input class="rcf_print_button" id="savepage3" type="button" value="Manipulate" style="text-decoration: line-through;" />
  <input class="rcf_print_button" id="savepage4" type="button" value="Print" onclick="window.print()" />

  <script type="text/javascript">

    // Default export is a4 paper, portrait, using milimeters for units

      var content = document.getElementById('postcontent');
      console.log("Article print modules loaded.");


      document.getElementById("savepage1").onclick = function () {
      console.log("Printing with htmltoPDF.");
      html2pdf(content, {
        margin: 20,
        filename: '{{ page.title | escape }}.pdf',
        image: { quality: 0.6 },
        html2canvas: { dpi: 300, letterRendering: true}
      });
      console.log("Print with htmltoPDF finished.");
      };

      document.getElementById("savepage2").onclick = function () {
      console.log("Printing with jsPDF. (Does not function with images.)");
      var doc = new jsPDF('p', 'pt', 'letter');
      doc.canvas.height = 72 * 11;
      doc.canvas.width = 72 * 8.5;
      doc.fromHTML(content);
      doc.save('a4.pdf');
      console.log("Print with jsPDF finished.");
      };

      document.getElementById("savepage3").onclick = function () {
      console.log("Nope.");
      };

  </script>



</div>
