<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">


  <div class="corners">
 
 {%- include head-sharethis.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}


      </div>
    </main>



    {%- include footer.html -%}

  </body>

{%- include rcfjs.html -%}
</div>
{%- include copyright.html -%}
<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
</html>
