---
layout: default-home
---

<div class="home">
  <div style="height:10px"></div>
  <div class="home-intro">
    {{ content }}
  </div>
  <h2 id="featured" class="page-heading">The Latest (<a style="color: #6c6cff !important; text-decoration: underline;" href="https://www.ryanfleck.ca">New stuff here!</a>)</h2>
  <ul class="post-list">
    {%- for post in site.categories.featured limit:8 -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta small">{{ post.date | date: date_format }} - {{ post.content | number_of_words }} words</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {{ post.content | strip_html | truncatewords:50 }}
        <br />
      </li>
    {%- endfor -%}
  </ul>

<p style="text-align:right;"><a  href="{{ site.url }}/archive"><i>Archived Articles</i></a></p>

</div>
